body {
    font-size: 13px;
}
/*
 * 修正样式，使bootstrap和jqmobi样式兼容
 */
header h1 {
    margin: 0;
    padding: 0;
}
*:before, *:after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.btn.block {
    display: block;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #aaa;
}
a {
    color: #000;
}
a:hover, a:focus {
    text-decoration: none;
}

/* 粗体15号 */
.bold_15 {
    font-weight: bold;
    font-size: 15px;
}
/* 粗体20号 */
.bold_20 {
    font-weight: bold;
    font-size: 20px;
}
/* 灰色888 */
.gray_888 {
    color: #888;
}
.gray_888_f18 {
    color: #888;
    font-size: 18px;
    font-weight: bold;
}
/* 蓝色 */
.blue_00bcd4_f36 {
    color: #00bcd4;
    font-size: 36px;
}
.blue_00bcd4_f20 {
    color: #00bcd4;
    font-size: 20px;
}
.blue_00bcd4_f26 {
    color: #00bcd4;
    font-size: 26px;
}
/* 18号字 */
.f18 {
    font-size: 18px;
}
.f22 {
    font-size: 22px;
}
.write_32 {
    font-size: 32px;
    color: white;
}

.write_20 {
    font-size: 20px;
    color: white;
}

.p5 {
    padding: 5px;
}
.p10 {
    padding: 10px;
}
.p15 {
    padding: 15px;
}
.pl5 {
    padding-left: 5px;
}
.pb15 {
    padding-bottom: 15px;
}
.pl20 {
    padding-left: 20px;
}
.pr10 {
    padding-right: 10px;
}
.pr18 {
    padding-right: 18px;
}
.pt10 {
    padding-top: 10px;
}
.ptb10 {
    padding: 10px 0;
}
.ptb20 {
    padding: 20px 0;
}
.ptr10 {
    padding: 10px 10px 0 0;
}
.m10 {
    margin: 10px;
}
.mt5 {
    margin-top: 5px;
}
.mt15 {
    margin-top: 15px;
}
.mt60 {
    margin-top: 60px;
}
.mr5 {
    margin-right: 5px;
}
.mr35 {
    margin-right: 35px;
}
.mb0 {
    margin-bottom: 0;
}
.mtl10 {
    margin: 10px 0 0 10px;
}
.mtb15 {
    margin: 15px 0;
}
.mtb30 {
    margin: 30px 0;
}
.ml0 {
    margin-left: 0;
}

.dotted_gray {
    border-top: 2px dashed #888;
    display: inline-block;
    width: 40px;
    height: 5px;
    margin: 0 5px;
}
.circle {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid #66ff99;
    margin-top: -4px;
    background-color: #66ff99;
}
.circle_right {
    right: 16px;
    background-color: #fff;
    border-color: #777;
}

/* 进度条 */
.progress_fly {
    height: 8px;
    background-color: #777;
    margin-right: 15px;
    margin-bottom: 8px;
}
.progress-bar-cyan {
    background-color: #66ff99;
}
/* fieldset dashed */
.fieldset_dashed {
    padding-left: 20px;
    padding-right: 0;
    padding-bottom: 15px;
    border: 2px dashed #777;
    width: 250px;
    margin: 0 auto;
    border-radius: 5px;
}
.fieldset_dashed legend {
    width: auto;
    padding: 0 8px;
}
.number_time {
    padding: 8px 6px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}