/*
 * 修正样式，使bootstrap和jqmobi样式兼容
 */
header h1 {
    margin: 0;
    padding: 0;
}
*:before, *:after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.btn.block {
    display: block;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #aaa;
}
a {
    color: #000;
}
a:hover, a:focus {
    text-decoration: none;
}

/* 粗体15号 */
.bold_15 {
    font-weight: bold;
    font-size: 15px;
}
/* 粗体20号 */
.bold_20 {
    font-weight: bold;
    font-size: 20px;
}
/* 灰色888 */
.gray_888 {
    color: #888;
}
.gray_888_f18 {
    color: #888;
    font-size: 18px;
    font-weight: bold;
}
/* 蓝色 */
.blue_00bcd4_f36 {
    color: #00bcd4;
    font-size: 36px;
}
.blue_00bcd4_f20 {
    color: #00bcd4;
    font-size: 20px;
}
.blue_00bcd4_f26 {
    color: #00bcd4;
    font-size: 26px;
}
/* 18号字 */
.f18 {
    font-size: 18px;
}
.write_32 {
    font-size: 32px;
    color: white;
}

.write_20 {
    font-size: 20px;
    color: white;
}

.p10 {
    padding: 10px;
}
.pl5 {
    padding-left: 5px;
}
.pl20 {
    padding-left: 20px;
}
.pr18 {
    padding-right: 18px;
}
.pt10 {
    padding-top: 10px;
}
.ptb10 {
    padding: 10px 0;
}
.ptb20 {
    padding: 20px 0;
}
.ptr10 {
    padding: 10px 10px 0 0;
}
.m10 {
    margin: 10px;
}
.mt5 {
    margin-top: 5px;
}
.mt15 {
    margin-top: 15px;
}
.mt60 {
    margin-top: 60px;
}
.mr5 {
    margin-right: 5px;
}
.mr35 {
    margin-right: 35px;
}
.mb0 {
    margin-bottom: 0;
}
.mtl10 {
    margin: 10px 0 0 10px;
}
.mtb15 {
    margin: 15px 0;
}
.mtb30 {
    margin: 30px 0;
}
.ml0 {
    margin-left: 0;
}